<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log In</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/login.css">
    <link rel="icon" type="image/x-icon" href="/static/logo/logo.png">
</head>

<body>
    {% include "components/navbar.html.jinja" %}

    <!-- Login Form -->
    <div class="card rounded">
        <div class="card-body">
            <h3 class="card-title text-center">Log In</h3>
            <p class="text-center text-muted">Access your account to explore and shop</p>
            <hr>

            {% for message in get_flashed_messages() %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}

            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="userVer"
                        placeholder="Enter your username" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="passVer"
                        placeholder="Enter your password" required>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-custom btn-lg">Log In</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Sign Up Link -->
    <div class="text-center mt-3">
        <p>Don't have an account? <a class="link-custom" href="/signup">Sign Up</a></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>