#browse-grid {
    background-color: #05668D;
    color: #F0F8FF;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-custom {
    background-color: teal;
    color: white;
}

.btn-custom:hover {
    background-color: #02475e;
    color: white;
}